/* ******* :: INDEX OF CSS :: *******
:: 1.0 WEB FONTS
:: 2.0 IMPORT ALL CSS
:: 3.0 GLOBAL CSS
:: 4.0 COMMON CSS
:: 6.0 SCROLL TO TOP AREA CSS
:: 7.0 HEADER AREA CSS
:: 8.0 WELCOME AREA CSS
:: 9.0 DOORS AREA CSS
:: 10.0 FEATURES AREA CSS
:: 11.0 WINDOWS AREA CSS
:: 12.0 SMART GLASS AREA CSS
:: 13.0 BLEND MESH AREA CSS
:: 14.0 ABOUT AREA CSS
:: 15.0 TESTIMONIALS AREA CSS
:: 16.0 FOOTER AREA CSS
:: 17.0 ABOUT PAGE AREA CSS
:: 18.0 DOOR PAGE AREA CSS
:: 19.0 WINDOWS PAGE AREA CSS
:: 20.0 SMART GLASS PAGE AREA CSS
:: 21.0 CONTACT PAGE AREA CSS
:: 22.0 MOSQUITO PAGE AREA CSS
****************************** */

/* ******************************
:: 1.0 WEB FONTS
****************************** */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */

/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */
@import url(bootstrap.min.css);
/* @import url(et-line.css); */
@import url(icofont.min.css);
@import url(all.min.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);
/* @import url(slick.css); */
@import url(jquery.fancybox.min.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.main {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #1c144e;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.inner-wrapper h1,
.inner-wrapper h2,
.inner-wrapper h3 {
    color: #2d3136;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777;
    margin-bottom: 0;
}

a {
    color: #444;
}

a:hover {
    color: #0056b3;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.text-primary {
    color: #2d3136 !important;
}

.d-block-991{
    display: none !important; 
}

/* ******************************
:: 4.0 COMMON CSS
****************************** */
.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.op-5 {
    opacity: 0.5;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4rem;
    width: 4rem;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.h-100vh {
    height: 100vh;
}

.pos-abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
}

.radius-100 {
    border-radius: 100px !important;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dsp-tc {
    display: table-cell;
    vertical-align: middle;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.tooltip > .tooltip-inner {
    background-color: #00cff2;
    padding: 6px;
}

.tooltip-arrow,
.tooltip.top .tooltip-arrow {
    border-top-color: #00cff2;
}

.inner-wrapper {
    min-height: 100vh;
    width: 100%;
}

/*SECTION PADDING*/
.pt_0 {
    padding-top: 0;
}

.ptb_50 {
    padding: 50px 0;
}

.ptb_100 {
    padding: 100px 0;
}

.ptb_150 {
    padding: 150px 0;
}

.ptb_180 {
    padding: 180px 0;
}

/*BUTTONS*/
.btn {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding: 14px 30px;
    border: 0 none;
    border-radius: 100px;
    outline: 0 none;
    position: relative;
    z-index: 1;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.btn.btn-bordered {
    background: transparent none repeat scroll 0 0;
    color: #444;
}

.btn.btn-bordered:hover,
.btn.btn-bordered:focus {
    color: #fff;
}

.btn.btn-bordered:before,
.btn.btn-bordered-white:after {
    position: absolute;
    content: "";
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    border-radius: 100px;
}

.btn.btn-bordered:before {
    z-index: -2;
}

.btn.btn-bordered:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    background: #fff none repeat scroll 0 0;
    z-index: -1;
}

/*TRANSITIONS*/
.team-photo:before,
.team-photo:after {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.btn.btn-bordered:before,
.btn.btn-bordered:after,
.btn.btn-bordered-white:after,
#scrollUp,
.header-items .nav-link,
.dropdown-item,
.navbar-sticky,
.benifits-item,
.benifits-item:after,
.single-work::after,
.single-work > h3,
.features-menu .single-features,
.features-menu .single-features::after,
.screenshots-overlay,
.price-plan-wrapper,
.thumb-prev,
.thumb-next,
.single-team,
.team-name,
.single-blog,
.tokyo .play-text {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.featured-items ul li,
.slick-dots li button,
.testimonial-area .owl-carousel button.owl-dot {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


/* ******************************
:: 6.0 SCROLL TO TOP AREA CSS
****************************** */
#scrollUp {
    position: fixed;
    right: 1%;
    bottom: 3%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    display: none;
}

#scrollUp > i {
    font-size: 24px;
    line-height: 38px;
    display: block;
    color: #fff;
}

#scrollUp > svg{
    color: #fff;
    font-size: 18px;
}

#scrollUp:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */
.hero-wrapper .svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    height: 100%;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 0;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    background: rgb(0 0 0 / 50%);
}

.navbar .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #7e8085;
}

.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

.navbar .navbar-brand-sticky {
    display: none;
}

.navbar-sticky {
    -webkit-transition: none;
    transition: none;
}

.navbar-sticky-transitioned {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar-sticky-moved-up {
    position: fixed;
    top: 0;
    background: #041c23;
    margin-top: -100px;
}

[data-theme=dark] .navbar-sticky-moved-up {
    background: #01081f;
    -webkit-box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
    box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
}

.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.navbar-sticky-on .navbar-brand-regular {
    display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
    display: inline;
}

/*NAVBAR DARK*/
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-dark .btn-outline {
    color: #fff;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #dde0e7d9;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #e7eaee;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
    color: #fff;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #D2D5DA;
}

/* ******************************
:: 8.0 WELCOME AREA CSS
****************************** */
.welcome-intro > h3 {
    font-size: 30px;
}

.welcome-area{
    background-image: url(../img/banner/banner.jpg);
    height: 880px;
}

.welcome-intro{
    padding-left: 175px;
}

.welcome-intro h1{
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 70px;
    margin-bottom: 50px;
}

.welcome-intro p{
    color: #e2393f;
    font-size: 22px;
    letter-spacing: 1px;
    position: relative;
    max-width: 240px;
    margin-bottom: 15px;
}

.welcome-intro p::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 10px;
    background-color: #e2393f;
    width: 60px;
    height: 2px;
}

.banner-img{
    display: none;
}

.banner-btn a{
    color: #fff;
    background-color: #e2393f;
    padding: 15px 40px;
    transition: all .3s ease;
    border: 2px solid #e2393f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.banner-btn a:hover{
    color: #e2393f;
    background-color: #fff;
}

/* ******************************
:: 9.0 DOORS AREA CSS
****************************** */
.doors-area{
    background-color: #e5e8ea;
    padding: 90px 0 120px;
}

.area-inner{
    background-color: #fff;
    padding: 50px;
    padding-left: 230px;
    padding-right: 100px;
    position: relative;
}

.area-inner .text-sec span{
    color: #e2151d;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.area-inner .text-sec h2{
    color: #41464c;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
    max-width: 460px;
    line-height: 1.3;
}

.area-inner .text-sec p{
    color: #41464c;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
    max-width: 550px;
}

.area-inner .img-sec{
    display: flex;
}

.area-inner .img-sec .img-sec-inner{
    background-color: #eff1f3;
    padding: 30px 40px;
    margin-bottom: 30px;
    max-width: 300px;
    text-align: center;
    min-height: 310px;
}

.area-inner .img-sec .img-sec-inner .img img{
    margin: 0 auto;
}

.area-inner .img-sec .img-sec-inner2:nth-child(1){
    margin-right: 20px;
}

.area-inner2 .img-sec .img-sec-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.area-inner .img-sec .img-sec-inner p{
    color: #41464c;
    font-weight: 600;
    font-size: 20px;
    margin: 7px 0 0;
}

.area-inner .btn-sec{
    position: absolute;
    bottom: 0;
    right: 10%;
}

.area-inner .btn-sec a{
    color: #fff;
    background-color: #e2393f;
    padding: 30px 20px;
    transition: all .3s ease;
    border: 2px solid #e2393f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.area-inner .btn-sec a:hover{
    color: #e2393f;
    background-color: #fff;
}

.area-inner .big-door{
    background-image: url(../img/doors/bigdoor.png);
    height: 560px;
    width: 230px;
    position: absolute;
    left: -100px;
}

.head-text{
    position: absolute;
    left: -120px;
    top: 42%;
}

.head-text h2{
    color: #ced4d8;
    text-transform: uppercase;
    font-size: 70px;
    transform: rotate(270deg);
    font-weight: 700;
    letter-spacing: 10px;
}

.head-text2 h2{
    color: #e45156;
}

/* ******************************
:: 10.0 FEATURES AREA CSS
****************************** */
.feature-area{
    background-color: #b32025;
    padding: 100px 0;
}

.feature-inner .feature-box{
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-inner{
    margin-top: 50px;
}

.feature-inner2{
    margin-bottom: 50px;
    margin-top: 0;
}

.feature-inner2 .feature-box{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.feature-inner .feature-box .name h3{
    color: #fff;
    font-weight: 400;
    margin-top: 20px;
    font-size: 18px;
}

/* ******************************
:: 11.0 WINDOWS AREA CSS
****************************** */
.windows-area{
    background-color: #fff;
}

.area-inner2 .big-window{
    background-image: url(../img/windows/big-window.png);
    background-repeat: no-repeat;
    width: 340px;
    height: 520px;
    left: -160px;
}

.area-inner2{
    background-color: #eaeced;
}

.area-inner2 .img-sec .img-sec-inner{
    background-color: #fff;
}

/* ******************************
:: 12.0 SMART GLASS AREA CSS
****************************** */
.smart-glass-area{
    position: relative;
    background-color: #e5e8ea;
}

.glass-textarea{
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    background-color: #e5e8ea;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 200px;
    padding-right: 70px;
}

.glass-imgarea{
    flex: 0 0 50%;
    background-image: url(../img/smart-glass.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    position: relative;
}

.glass-text span{
    color: #e2151d;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.glass-text h3{
    color: #41464c;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
    max-width: 460px;
    line-height: 1.3;
}

.glass-text p{
    color: #41464c;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 60px;
    max-width: 550px;
}

.glass-btn a{
    color: #fff;
    background-color: #e2151d;
    padding: 30px 25px;
    transition: all .3s ease;
    border: 2px solid #e2393f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.glass-btn a:hover{
    color: #e2151d;
    background-color: #fff;
}

.glass-img-text{
    position: absolute;
    bottom: 25px;
    left: -42%;
}

.glass-img-text h1{
    color: #ced4d8;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 10px;
}

/* ******************************
:: 13.0 BLEND MESH AREA CSS
****************************** */
.blend-mesh-area{
    padding: 100px 0 110px;
}

.blend-box{
    position: relative;
}

.blend-box .txt-inner{
    background-color: #f2f3f4;
    padding: 115px 40px 70px;
    position: relative;
}

.blend-box .txt-inner span{
    color: #e2151d;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.blend-box .txt-inner h3{
    color: #41464c;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
    max-width: 460px;
    line-height: 1.3;
}

.blend-box .txt-inner p{
    color: #41464c;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
    max-width: 550px;
}

.blend-btn{
    position: absolute;
    bottom: -10px;
    right: 8%;
}

.blend-btn a{
    color: #fff;
    background-color: #e2151d;
    padding: 30px 25px;
    transition: all .3s ease;
    border: 2px solid #e2393f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.blend-btn a:hover{
    background-color: #fff;
    color: #e2393f;
}

.remote-text{
    position: absolute;
    top: -88px;
    right: 0;
}

.remote-text h1{
    color: #ced4d8;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 10px;
}

/* ******************************
:: 14.0 ABOUT AREA CSS
****************************** */
.about-area{
    background-image: url(../img/bg/about-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 85px 0 200px;
}

.about-inner{
    padding-left: 115px;
}

.about-inner h2{
    color: #222f4b;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 18px;
}

.about-inner p{
    color: #222f4bc9;
    line-height: 35px;
    font-size: 22px;
    max-width: 670px;
    margin-bottom: 16px;
}

.about-btn a{
    color: #e2151d;
    font-weight: 600;
    font-size: 18px;
    transition: all .3s ease;
}

.about-btn a:hover{
    letter-spacing: .8px;
    text-decoration: underline;
}

/* ******************************
:: 15.0 TESTIMONIALS AREA CSS
****************************** */
.testi-area{
    padding: 100px 0 120px;
    position: relative;
}

.testi-head h2{
    color: #e2393f;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 30px;
}

.testi-head h1{
    color: rgb(65, 70, 76);
    margin-bottom: 80px;
    font-size: 52px;
}

.testi-text{
    background-color: #e2393f;
    padding: 130px 100px 80px 100px;
    position: relative;
    flex: 0 0 60%;
}

.testi-img{
    background-color: #f1f1f1;
    display: flex;
    align-items: end;
    justify-content: center;
    flex: 0 0 40%;
}

.quote-img{
    position: absolute;
    top: 8px;
    left: 25px;
}

.testi-text .text-inner p{
    color: #ffedee;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 35px;
    max-width: 660px;
}

.testi-text .text-inner h4{
    color: #ffedee;
    font-size: 22px;
}

.testi-text .text-inner span{
    color: #ffedee;
    font-size: 20px;
}

.testi-slider .owl-dots{
    text-align: center;
    position: relative;
    top: 40px;
}

.testi-slider .owl-dots button{
    background-color: #d9d9d9;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 10px;
}

.testi-slider .owl-dots button.active{
    background-color: #e2393f;
}

/* ******************************
:: 16.0 FOOTER AREA CSS
****************************** */
.footer-area{
    background-color: #3f3f3f;
}

.footer-top{
    padding: 50px 0;
    border-bottom: 1px solid #b2b2b2;
}

.footer-top .footer-contact h4{
    color: #fff;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
}

.footer-top .footer-contact .phone a{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    transition: all .3s ease;
    position: relative;
}

.footer-top .footer-contact .phone a:hover{
    color: #e2393f;
}

.footer-top .footer-contact .phone a:first-child{
    padding-right: 32px;
}

.footer-top .footer-contact .phone a:first-child:before{
    position: absolute;
    content: "";
    right: 0;
    bottom: 16px;
    background: #e2393f;
    height: 2px;
    width: 6px;
    transform: rotate(90deg);
    padding: 0px 12px;
}

.address-area{
    padding: 70px 0;
}

.address-box h3{
    color: #b2b2b2;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
}

.address-box p{
    color: #b2b2b2;
    font-size: 18px;
    max-width: 265px;
    line-height: 30px;
}

.address-list h3{
    color: #e2393f;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 10px;
}

.address-list li a{
    color: #b2b2b2;
    font-size: 18px;
    transition: all .3s ease;
}

.address-list li a:hover{
    color: #e2393f;
    text-decoration: underline;
}

.address-list li{
    margin-bottom: 5px;
}

.footer-product ul{
    flex: 0 0 50%;
}

.address-list2{
    margin-top: 30px;
}

.social-icons li{
    margin-right: 10px;
}

.social-icons li a{
    font-size: 22px;
    transition: all .3s ease;
}

.social-icons li a:hover{
    color: #e2393f !important;
    text-decoration: underline;
}

.copyright{
    background-color: #343434;
    padding: 30px 0;
}

.copy-inner p{
    color: #b2b2b2;
}

.copy-inner p a img{
    max-width: 100px;
}


/* ******************************
:: 17.0 ABOUT PAGE AREA CSS
****************************** */
.inner-banner{
    background-color: #050709;
    padding: 120px 0;
    position: relative;
}

.inner-about{
    background-color: #e5e8ea;
    padding: 70px 0;
}

.title-head h1{
    color: #ced4d8;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 50px;
    padding-left: 54%;
}

.row-abt{
    position: relative;
    background-color: #fff;
    padding: 80px 50px;
    margin-bottom: 80px;
}

.abt-img img{ 
    margin-top: -350px;
    margin-left: -65px; 
}

.abt-text h2{
    color: #222f4b;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 18px;
}

.abt-text p{
    color: #222f4bc9;
    line-height: 28px;
    font-size: 18px;
}

.abt-box{
    border: 1px solid #adafb2;
    padding: 50px 20px;
    margin-bottom: 40px
}

.abt-box .text h3{
    color: #3a3c3f;
    margin-top: 30px;
}

.box-row{
    margin-bottom: 30px;
}

.about-textarea{
    background-color: #fff;
    padding: 80px 60px;
}

.about-textarea p{
    color: #222f4b;
    font-size: 20px;
    line-height: 35px;
}

.text-row{
    margin-bottom: 30px;
}

.vision-area .container-fluid{
    padding: 0 !important;
}

.vsn-content{
    padding: 0px 130px 0px 320px;
}

.vsn-content h1{
    color: #ced4d8;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.vsn-content p{
    color: #222f4b;
    font-size: 20px;
    line-height: 35px;
}

.vsn-content2{
    padding: 0px 320px 0px 100px;
}

.vsn-img img{
    width: 100%;
}

.showroom-area{
    background-color: #e5e8ea;
    padding: 80px 0;
}

.shw-head h1{
    text-transform: uppercase;
    color: #a4aaae;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

/* ******************************
:: 18.0 DOOR PAGE AREA CSS
****************************** */
.banner-title h1{
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.inner-banner2{
    padding: 160px 0 0;
}

.doors-page{
    padding: 100px 0;
}

.product-head{
    margin-bottom: 30px;
}

.product-head h3{
    color: #3a3c3f;
    font-size: 22px;
}

/* product box style */
.product-grid2{
    background-color: #eff1f3;
}
.product-grid2 .product-image2{
    overflow:hidden;
    position:relative
}
.product-grid2 .product-image2 a{
    display:block
}
.product-grid2 .product-image2 img{
    width:100%;
    height:auto
}
.product-image2 .pic-1{
    opacity:1;
    transition:all .5s
}
.product-grid2:hover .product-image2 .pic-1{
    transform: scale(1.55);
}
.product-image2 .social{
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
}
.product-grid2 .social li a{
    color:#505050;
    background-color:#fff;
    font-size:17px;
    line-height:45px;
    text-align:center;
    height:45px;
    width:45px;
    border-radius:50%;
    display:block;
    transition:all .3s ease 0s
}
.product-grid2 .social li a:hover{
    color:#fff;
    background-color:#e2393f;
    box-shadow:0 0 10px rgba(0,0,0,.5)
}
.product-grid2 .social li a:after,
.product-grid2 .social li a:before{
    content:attr(data-tip);
    color:#fff;
    background-color:#000;
    font-size:12px;
    line-height:22px;
    border-radius:3px;
    padding:0 5px;
    white-space:nowrap;
    opacity:0;transform:translateX(-50%);
    position:absolute;
    left:50%;
    top:-30px
}
.product-grid2 .social li a:after{
    content:'';
    height:15px;
    width:15px;
    border-radius:0;
    transform:translateX(-50%) rotate(45deg);
    top:-22px;
    z-index:-1
}
.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before{
    opacity:1
}

.product-grid2:hover .product-image2 .social{
    opacity: 1;
    visibility: visible;
}

.product-grid2 .product-content{
    padding:20px 10px;
    text-align:center
}
.product-grid2 .title{
    font-size:17px;
    margin:0 0 7px
}
.product-grid2 .title a{
    color:#303030
}
.product-grid2 .title a:hover{
    color:#e2393f
}

.pro-btn a{
    color: #e2393f;
    font-weight: 500;
    font-size: 15px;
    transform: all .3s ease;
}

.pro-btn a:hover{
    text-decoration: underline;
}

.product-slider .owl-nav{
    position: absolute;
    right: 0;
    top: -50px;
}

.product-slider .owl-nav button{
    width: 30px;
    height: 30px;
    border: 1px solid #e2393f !important;
    border-radius: 50%;
    line-height: 25px;
    margin-right: 10px;
}

.product-slider .owl-nav button span{
    font-size: 25px;
    color: #e2393f;
}

.product-slider .owl-nav [class*=owl-]:hover{
    background-color: #e2393f;
}

.product-slider .owl-nav [class*=owl-]:hover span{
    color: #fff;
}

.pro-box-row{
    margin-bottom: 80px;
}

/* ******************************
:: 19.0 WINDOWS PAGE AREA CSS
****************************** */
.windows-page{
    padding: 100px 0;
}

.win-img-area{
    position: relative;
    padding: 30px 30px 0 30px;
}

.win-img-area .image{
    position: relative;
}

.win-img-area::after{
    position: absolute;
    content: "";
    right: 0;
    top: 15px;
    left: 0;
    bottom: 0;
    z-index: -1;
    border: 8px solid #eef2ed;
    transform: skew(-0deg,-8deg);
}

.content-column{
    position: relative;
}

.content-column .head{
    width: 100%;
    border-bottom: 1px solid #eef2ed;
}

.content-column .head h2{
    position: relative;
    color: #41464c;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4em;
    padding-bottom: 26px;
    max-width: 410px;
}

.content-column .txt{
    margin-top: 30px;
}

.content-column .txt p{
    position: relative;
    color: #7c7b7b;
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 20px;
}

.windows-pro{
    background-color: #e5e8ea;
    padding: 80px 0;
}

.window-block{
    position: relative;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 30px;
}

.window-block .icon-box{
    position: relative;
    width: 290px;
    height: 290px;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 250px;
    text-align: center;
    border: 18px solid #eef2ed;
    background: #e2393f url(../img/windows/window-pattern.png) center center no-repeat;
}

.window-block .icon-box .image{
    position: relative;
    display: inline-block;
}

.window-block .lower-content{
    position: relative;
    text-align: center;
}

.window-block .lower-content h3{
    position: relative;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 18px;
    display: inline-block;
    color: #41464c;
}

.window-block .lower-content .text p{
    position: relative;
    color: #7c7b7b;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 15px;
}

.window-block .lower-content .win-btn {
    position: relative;
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.window-block .lower-content .win-btn a{
    transition: all .3s ease;
}

.window-block .lower-content .win-btn a:hover{
    color: #e2393f;
}

.window-block .lower-content .win-btn a .arrow{
    position: relative;
    top: 5px;
    margin-left: 8px;
    font-size: 30px;
}

.block-head h1{
    color: #ced4d8;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 35px;
}

/* ******************************
:: 20.0 SMART GLASS PAGE AREA CSS
****************************** */
.smart-g{
    position: relative;
    padding: 100px 0;
}

.smart-img{
    position: relative;
}

.smart-img .img-bg {
    position: absolute;
    width: 49%;
    height: 63.5%;
    z-index: -2;
    background-color: #E3CCA1;
    top: 0;
    left: 0;
}

.smart-img .image {
    margin-left: 12.3%;
}

.smart-img .image img {
    margin-top: 12%;
}

.smart-img .img-bg2{
    width: 65%;
    height: 55%;
    z-index: -1;
    border: 2px solid #434E6E;
    left: 6%;
    bottom: -8.5%;
    position: absolute;
}

.smart-sub-title{
    color: #e2151d;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.smart-content .main-title h2{
    color: #41464c;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
    max-width: 460px;
    line-height: 1.3;
}

.smart-content .main-title p{
    color: #41464c;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 60px;
    max-width: 550px;
}

.smart-content{
    padding-left: 30px;
    margin-top: 75px;
}

.smartglass-full{
    background-image: url(../img/smart-glass/slide-glass.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px 0;
}

.full-content{
    max-width: 800px;
}

.full-content h5{
    color: #e2151d;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.full-content h1{
    color: #fff;
    margin-bottom: 50px;
    font-size: 50px;
}

.full-content .full-btn a{
    color: #fff;
    background-color: #e2151d;
    padding: 12px 30px;
    transition: all .3s ease;
    border: 2px solid #e2393f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.full-content .full-btn a:hover{
    background-color: #fff;
    color: #e2393f;
}

.smart-features{
    padding: 100px 0 80px;
}

.ft-box{
    position: relative;
    margin-bottom: 50px;
}

.ft-box h4{
    color: #41464c;
    margin: 15px 0;
}


/* ******************************
:: 21.0 CONTACT PAGE AREA CSS
****************************** */
.contact-now{
    padding: 100px 0;
}

.contact-head span{
    color: #e2151d;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.contact-head h2{
    color: #41464c;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 50px;
    line-height: 1.3;
}

.contact-style{
    justify-content: left;
}

.location-icon {
    background: #e2151d;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
}

.contact-style li svg{
    color: #fff;
    font-size: 25px;
}

.contact-style .content-style{
    padding: 4px 0 0 27px;
}

.contact-style .content-style h6{
    color: #41464c;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.map-area .map{
    position: relative;
}

.map-area .map iframe{
    width: 100%;
    height: 500px;
}

.content-contact{
    background-color: #434e6e !important;
    padding: 43px 23px 107px 43px;
}

.content-contact .title-section{
    margin-bottom: 20px;
}

.title-section .sub-title{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3.3px;
    color: #E3CCA1;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.title-section .flat-title{
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -1px;
    font-weight: bold;
    padding: 0 !important;
    color: #fff;
    margin-top: 18px;
    margin-bottom: 12px;
}

.title-section p{
    color: #fff;
}

.form-location{
    padding: 33px 50px 42px 50px;
    background: #fff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 6%);
}

.form-location form{
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-location form .form-group{
    margin-bottom: 25px;
    flex: 0 0 48%;
}

.form-location form .form-group .form-control{
    height: 66px;
}

.form-location form .form-group.last{
    flex: 0 0 100%;
}

.form-location form .form-group textarea{
    height: 100px !important;
    width: 100%;
}

.topbar-social{
    margin-top: 50px;
}

.topbar-social li a{
    font-size: 30px;
    margin-right: 20px;
    transition: all .3s ease;
}

.topbar-social li a:hover{
    color: #fff
}

.contact-form{
    padding-bottom: 120px;
    margin-top: -100px;
}

.submit-form{
    color: #fff;
    background-color: #e2393f;
    padding: 15px 40px;
    transition: all .3s ease;
    border: 2px solid #e2393f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.submit-form:hover{
    color: #e2151d;
    background-color: #fff;
}

/* ******************************
:: 22.0 MOSQUITO PAGE AREA CSS
****************************** */
.mosquito-area{
    position: relative;
    padding: 100px 0 120px;
}

.mosquito-head{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.mosquito-head h2{
    font-size: 35px;
    margin-bottom: 10px;
}

.mosquito-head p{
    font-size: 16px;
    line-height: 28px;
}

.mosquito-icons li{
    flex: 0 0 48%;
    padding: 57px 0 55px 2px;
    background: #fff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
    margin-bottom: 30px;
    text-align: center;
}

.mosquito-icons li .name{
    margin-top: 15px;
}

.mosquito-icons li .name h4{
    color: #434e6e;
    font-weight: 500;
    text-transform: uppercase;
}

.msq-service{
    padding: 100px 0;
    background: #e5e8ea;
}

.title-section-msq{
    margin-bottom: 40px;
}

.title-section-msq span{
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #e2151d;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.title-section-msq h2{
    color: #41464c;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
}

.title-section-msq p{
    color: #41464c;
    font-size: 16px;
    line-height: 28px;
}

.msq-box{
    background-color: #fff;
}

.msq-box .img{
    position: relative;
    z-index: 10;
}

.msq-box .title-img-box{
    background-color: #fff;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 7%);
    height: 56px;
    line-height: 56px;
    width: 85%;
    z-index: 99;
    margin: 0 auto;
    margin-top: -25px;
    position: relative;
}

.msq-box .title-img-box h4{
    color: #434e6e;
    text-transform: uppercase;
    line-height: 59px;
    font-weight: 500 !important;
    letter-spacing: 0;
    padding-left: 2px;
    text-align: center;
    font-size: 17px;
}

.msq-box .content-imgbox{
    padding: 25px 15px 40px;
    text-align: center;
}

.mosquito-img{
  background-color: #ccc;
  border: 4px solid #fff;
  /* padding: 2em;
  width: 16em;
  height: 16em; */
  position: relative;
  margin: 0 auto;
}

.mosquito-img::before{
  background: none;
  border: 4px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}